<h1 style= "padding-top: 100px"><%= @profile.email %> <%= @profile.firstname %> <%= @profile.lastname %></h1>
<h3>Human Capital</h3>
<p>Number of photos uploaded:</p>
<p>Number of photos downloaded:</p>

<li><%= link_to "Edit Account", '/user_devises/edit' %>
