
<body style= "padding-top: 50px">

<h1>Tag this photo!</h1>

<%= form_for @annotation,  url: {controller: "annotations" , action: "create"} do |f| %>
  <%= f.text_field :label %>
  
  <%= f.submit "Create" %>
<% end %>

</body>