
<body style= "padding-top: 50px">

<h1>Tag this photo!</h1>

<%= form_for @annotation, url: {controller: "photos" , action: "index"}, html: {class: "form_group"} do |f| %>
  <%= f.text_field :label %>
  <%= f.submit "Create" %>
<% end %>

</body>