<h1 style= "padding-top: 100px><%= @user.first_name %> <%= @user.last_name</h1>
<h3>Human Capital</h>
<p>Number of photos uploaded:</p>
<p>Number of photos downloaded:</p>

<li><%= link_to "Edit Account", '/user_devises/edit' %>
